<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="login-container">
          <h2>Welcome!</h2>
          <h3>Discover the new Ionic 6</h3>

          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-note color="danger" *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
              Please enter a valid email.
            </ion-note>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
              <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
                <ion-icon name="eye-off-outline"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-note color="danger" *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
              Password is required.
            </ion-note>

            <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Log In</ion-button>
          </form>

          <ion-row class="ion-align-items-center">
            <ion-col>
              <a href="#">Forgot Password?</a>
            </ion-col>
            <ion-col class="ion-text-end">
              <a href="#">Sign Up!</a>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button expand="block" class="facebook-btn" (click)="onSocialLogin('facebook')">
                Log In with Facebook
              </ion-button>
              
              <ion-button expand="block" class="google-btn" (click)="onSocialLogin('google')">
                Log In with Google
              </ion-button>
              
              <ion-button expand="block" class="twitter-btn" (click)="onSocialLogin('twitter')">
                Log In with Twitter
              </ion-button>
              
              <ion-button expand="block" class="apple-btn" (click)="onSocialLogin('apple')">
                Log In with Apple
              </ion-button>
              
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
